/* Styles for the Personal Information page only  */

@media screen and (max-width: 1024px) {
    section.form-section {
        position: inherit;
        margin: 30px auto;
    }
}

.btn {
<<<<<<< HEAD
    font-size: 15px;
    padding-left: 2em;
    padding-right: 2em;
}

=======
    font-size: 17px;
}
>>>>>>> 98e5d6667ab107ac650b9704440dcbf02a85724d
